@font-face {
   font-family: 'Tinos';
   font-style: normal;
   font-display: swap;
   font-weight: 700;
   src: url('file:///Users/daniel/Downloads/webedit/html/buslimorental.com//fonts/Tinos/700.ttf') format('truetype');
}
@font-face {
   font-family: 'Tinos';
   font-style: regular;
   font-display: swap;
   font-weight: 400;
   src: url('file:///Users/daniel/Downloads/webedit/html/buslimorental.com//fonts/Tinos/regular.ttf') format('truetype');
}
@font-face {
   font-family: 'Tinos';
   font-style: italic;
   font-display: swap;
   font-weight: 400;
   src: url('file:///Users/daniel/Downloads/webedit/html/buslimorental.com//fonts/Tinos/italic.ttf') format('truetype');
}
@font-face {
   font-family: 'Tinos';
   font-style: italic;
   font-display: swap;
   font-weight: 700;
   src: url('file:///Users/daniel/Downloads/webedit/html/buslimorental.com//fonts/Tinos/700italic.ttf') format('truetype');
}
