@font-face {
   font-family: 'Courgette';
   font-style: regular;
   font-display: swap;
   font-weight: 400;
   src: url('file:///Users/daniel/Downloads/webedit/html/buslimorental.com//fonts/Courgette/regular.ttf') format('truetype');
}
